/* Page */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  overflow-x: hidden; 
    margin: 0 auto;
  padding: 0;
}

body {
  overflow-x: hidden; 
    margin: 0 auto;
  padding: 0;
  width:100%;
}


a{
    color:#000;
}
.selectize-input {
    border: none!important;
    }
    .selectize-input.full {
    background-color: rgba(255,255,255,0)!important;
}
.box {
  width: 400px;
  height: auto;
  border: 2px solid #000;
  margin: 0 auto 15px;
  text-align: center;
  padding: 20px;
  font-size:20px;
  font-weight: bold;
  border-radius: 10px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
    background-position: 10px center;

}
.settings a{
    font-weight: 900;
}

.price-container {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 0 auto;
  width: 100%;
  padding: 20px 0px 0px 0px;
}
.price-container h3 {
  text-transform: uppercase;
  text-align: center;
  color: #24b47e;
  padding: 0px 0px 10px 0px;
}
.price-container h2 {
  text-transform: uppercase;
  text-align: center;
 font-weight:600;
 font-size:40px;
}
.price-container hr {
  width: 80%;
  border:solid 1px #000;
}

.price-tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.price-tag h1 {
  font-size: 4em;
  line-height: 60px;
  color: #32325d;
}
.price-tag span {
  align-self: center;
  color: #aab7c4;
  font-size: 30px;
  padding: 5px;
}
.price-tag p {
  align-self: center;
  font-size: 18px;
}
.price-tag p:last-child {
  color: #aab7c4;
  flex-basis: 100%;
  margin-top: -20px;
  text-align: center;
  margin-bottom: 60px;
}

.messages {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
}
.messages svg {
  color: #24b47e;
}
.messages i {
  transform: rotate(10deg);
}
.messages p {
  color: #79827f;
  font-size: 20px;
  margin-top: 8px;
}

.info {
  background-color: #ddd;
  border-color: #aaa; 
  background-image: url('https://i.imgur.com/ilgqWuX.png');
}

.warning {
  background-color: #FFF484;
  border-color: #DCC600;
  background-image: url('https://i.imgur.com/Z8q7ww7.png');
}

.success {
  background-color: #B9FFAB;
  border-color: #116400;
  color: #116400;
  background-image: url('https://i.imgur.com/Q9BGTuy.png');
}

.error {
  background-color: #EBB1B1;
  border-color: #973939;
  color: #973939;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.dropdown-menu{
    min-width:0px!important;
}
.nav-link{
    font-weight: 800;
}
.tickets{
    box-sizing: border-box;
  font-family: "VT323", monospace;
  color: #1f1f1f;
  margin: 0% 38% 0px 38%;
}
.table td, .table th {
    padding: 0.75rem;
}
.total{
    font-weight:600;
}
.universitylogo{
    width:60px;
    height:60px;
    margin-left: 39%;
}

.logocoa{
    width:90px;
    height:90px;
    margin-left: 46%;
}
.more-menu {
    width: auto;
}
.more{
    margin-top: 2%;
    padding-left:60%;
}
.input-group-lg>.input-group-prepend>.input-group-text {
        padding: .475rem .85rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.footer{
    position: fixed;
    width: 100%;
    padding:15px;
    bottom: 0;
}
.logo{
    padding:10px;
    color: #000;
    font-weight: 900;
   /* background-color: #6c757d;
    border-color: #6c757d;*/
}
.panel-heading{
    padding:26px;
}
.panel{
    padding:15px;
    border:solid 1px #c0c0c0;
}

.input100 {
    font-family: Ubuntu-Bold;
    color: #000;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 80%;
    background: #fff;
    height: 62px!important;
    padding: 0 12px 0 12px;
}

/* More Button / Dropdown Menu */

.more-btn,
.more-menu-btn {
    background: none;
    border: 0 none;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: left;
    outline: none;
    cursor: pointer;
}

.more-dot {
    background-color: #aab8c2;
    margin: 0 auto;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.more-menu {
    position: absolute;
    z-index: 900;
    float: left;
    padding: 3px 0;
    margin-top: 9px;
    background-color: #fff;
    border: 1px solid #ccd8e0;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
    opacity: 0;
    transform: translate(0, 15px) scale(.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

.more-menu-caret {
    position: absolute;
    top: -10px;
    left: 12px;
    width: 18px;
    height: 10px;
    float: left;
    overflow: hidden;
}

.more-menu-caret-outer,
.more-menu-caret-inner {
    position: absolute;
    display: inline-block;
    margin-left: -1px;
    font-size: 0;
    line-height: 1;
}

.more-menu-caret-outer {
    border-bottom: 10px solid #c1d0da;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: auto;
    left: 0;
    top: 0;
    width: auto;    
}

.more-menu-caret-inner {
    top: 1px;
    left: 1px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
}

.more-menu-items {
    margin: 0;
    list-style: none;
    padding: 0;
}

.more-menu-item {
    display: block;
}

.more-menu-btn {
    min-width: 100%;
    color: #66757f;
    cursor: pointer;
    display: block;
    font-size: 13px;
    line-height: 18px;
    padding: 5px 20px;
    position: relative;
    white-space: nowrap;
}
.layout{
    margin: 0% 20% 0px 20%;
}

.more-menu-item:hover {
    background-color: #489fe5;
}

.more-menu-item:hover .more-menu-btn {
    color: #fff;
}

.more-btn:hover .more-dot,
.show-more-menu .more-dot {
    background-color: #516471;
}

.show-more-menu .more-menu {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    pointer-events: auto;
}

/* table*/
.table-data2 {
    border-collapse: collapse;
    overflow: visible;
}

.table-data2.table thead th {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    vertical-align: top;
    padding: 15px 40px;
    padding-right: 10px;
}

.table-data2.table thead th:first-child {
    padding-right: 0;
}

.table-data2.table tbody {
    background: #fff;
}

.table-data2.table tbody tr td:first-child {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    vertical-align: top;
}

.table-data2.table tbody tr td:first-child .au-checkbox {
    margin-top: 5px;
}

@media (max-width: 1199px) {
    .table-data2.table tbody tr td:first-child {
        vertical-align: middle;
    }

    .table-data2.table tbody tr td:first-child .au-checkbox {
        margin-top: 0;
    }
}

.table-data2.table tbody tr td:last-child {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    padding-right: 35px;
}

.table-data2.table tbody td {
    font-size: 14px;
    color: #808080;
    vertical-align: middle;
    padding: 25px 40px;
    padding-right: 10px;
    border: none;
}

.table-data2.table tbody td.desc {
    color: #4272d7;
}

.table-data2 .spacer {
    height: 5px;
    background: transparent;
}

.tr-shadow {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
}

.table-data-feature .item {
    display: block;
    height: 30px;
    width: 30px;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #e5e5e5;
    margin-right: 5px;
}

/* Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 320px) {
 .logo{
    font-size:17px!important;
}

}

@media (max-width: 375px) { 

.nav{
    font-size: 13px;
 }
 .container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
 }
 .logo{
    font-size:20px;
}
 .logocoa{
    width:70px;
    height:70px;
    margin-left: 36%;
}
.box {
  width: 100%;
  font-size:16px;
}
}

@media (max-width: 767px) { 
.tickets{
  margin: 0% 0% 0px 0%;
}
.settings {
    margin-left: 40%;
}
.droposition{
        transform: translate3d(-45px, 38px, 0px)!important;
}
.logocoa{
    width:80px;
    height:80px;
    margin-left: 38%;
    padding:9px;
}
.layout{
    margin: 0px;
}
.alert {
    margin: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
nav{
    font-size: 12px;
 }
 .more{
    margin-top: 2%;
    padding-left:42%;
}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .tickets{
  margin: 0% 30% 0px 30%;
}
.layout{
    margin: 0px;
}
.settings {
    margin-left: 63%;
}
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .tickets{
  margin: 0% 38% 0px 38%;
}
.settings {
    margin-left: 70%;
}
 }

